#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 8px 0;
  font-size: 12px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel {
  border-top: var(--main-border);
  padding-top: 10px;
}

.friends-screen__channel-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen__channel-ad {
  display: flex;
}

.friends-screen__channel-ad i {
  margin-left: 10px;
}

/*
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: #0c0a0d;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 0.1s;
}*/
